<div id="nav">
  <div class="header-text clickable" data-ng-click="goToHomePage()">Caroline Paulic</div>
  <div>
    <div class="contact blue-hover" data-ng-click="goToHireMePage()"><a>Why I'm A Great Hire</a></div>
    <div class="contact green-hover" data-ng-include="'modules/contact/EmailContact.html'"></div>
    <div class="contact blue-hover" data-ng-include="'modules/contact/LinkedInContact.html'"></div>
    <div class="contact green-hover" data-ng-include="'modules/contact/GitHubContact.html'"></div>
    <div class="contact blue-hover" data-ng-include="'modules/resume/ResumeView.html'"></div>
  </div>
</div>
