<div id="nav">
  <div class="header-text"><a data-ng-click="goToHomePage()">Caroline Paulic</a></div>
  <div>
    <div class="menu-item blue-hover" data-ng-click="goToHireMePage()"><a class="clickable"><span class="fa fa-thumbs-up"></span>Why You Should Hire Me</a></div>
    <div class="menu-item green-hover" data-ng-include="'modules/contact/EmailContact.html'"></div>
    <div class="menu-item blue-hover" data-ng-include="'modules/contact/LinkedInContact.html'"></div>
    <div class="menu-item green-hover" data-ng-include="'modules/contact/GitHubContact.html'"></div>
    <div class="menu-item blue-hover last" data-ng-include="'modules/resume/ResumeView.html'"></div>
  </div>
</div>
