<div class="container-fluid main-page">
    <h1>Hey there, I'm Caroline!</h1>
    <h3>I like front end software development, creative projects, & being outside</h3>
    <h4>I'm working as a full stack developer in Honolulu, Hawaii. My work focuses on front end design
        and development, using HTML, CSS, JavaScript, and AngularJS. I spend my free time baking every kind of
        goodie you can think of and trying my hand at all kinds of art projects.</h4>
    <h4>Want to hire me? Looking to team up on a side project? Need a hug?<br/>
        Feel free to <a href="mailto:carolinepaulic@gmail.com">drop me a line</a> or check out my <a href="http://www.github.com/carolinepaulic">GitHub</a> or <a href="http://www.linkedin.com/in/carolinepaulic">LinkedIn.</a></h4>
    <h3>Get to know me! Take a look at...</h3>

    <div class="panel panel-nav" data-ng-click="goToProfessionalPage()">
        <div class="panel-heading">
            <a>My Professional Side</a>
        </div>
        <div class="panel-body">
            Check out my resume, work experience, projects, & goals
        </div>
    </div>
    <div class="panel panel-nav" data-ng-click="goToAllProjectsPage()">
        <div class="panel-heading">
            <a>My Personal Projects</a>
        </div>
        <div class="panel-body">
            Software development, baking & cooking, health, arts & crafts
        </div>
    </div>
</div>