<div class="container-fluid main-page">
    <h1>Hey there, I'm Caroline!</h1>
    <h3>I like front end software development, bright colors, cupcakes, and enthusiasm.</h3>
    <h3>Get to know me a little better by checking out my projects and work experience!</h3>

    <div class="panel panel-nav" data-ng-click="goToAllProjectsPage()">
        <div class="panel-heading">
            <a>Check Out My Projects</a>
        </div>
        <div class="panel-body">
            Software development, baking & cooking, health, arts & crafts
        </div>
    </div>
    <div class="panel panel-nav" data-ng-click="goToProfessionalPage()">
        <div class="panel-heading">
            <a>Professional</a>
        </div>
        <div class="panel-body">
            See my resume, work experience, projects, & goals
        </div>
    </div>
</div>