/* Header */
.header {
    background-color: #737373;
    color: #13ec8e;
}

.header h1 {
    font-size: 6em;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.header .tagline {
    font-style: italic;
    color: #36b6dd;
    margin-bottom: 0;
    margin-top: 0;
}

/* Body */
.main-background {
    background-color: #737373;
}

.main-page {
    background-color: #ebebeb;
    padding: 20px;
}

div a {
    color: #36b6dd;
}

div a:hover {
    color: #38879f;
    padding-bottom: 2px;
    border-bottom: 1px dotted #acd5e2;
    text-decoration: none;
}

.footer div a:hover {
    color: #acd5e2;
}

.contact h4 {
    border-bottom: 1px solid lightskyblue;
    padding-bottom: 5px;
}

.contact div {
    margin-bottom: 15px;
}

/* Footer */
.footer {
    background-color: #737373;
    color: lightskyblue;
    padding: 7px;
}

.footer span {
    margin-right: 5px;
}

.footer div {
    display: inline;
    margin-left: 50px;
}