/* Body */
a:hover {
    cursor: pointer;
}

.main-background {
    background-color: #737373;
}

.main-page {
    background-color: #ebebeb;
    padding: 20px;
}

div a {
    color: #36b6dd;
}

.contact a:hover, .footer a:hover {
    color: #38879f;
    padding-bottom: 2px;
    border-bottom: 1px dotted #acd5e2;
    text-decoration: none;
}

.footer div a:hover {
    color: #acd5e2;
}

.sidebar h4 {
    border-bottom: 1px solid lightskyblue;
    padding-bottom: 5px;
}

.contact div {
    margin-bottom: 15px;
}

.section-button {

}

.subsection-header {

}

/* Sidebar */
.menu-item {
    color: grey;
    display: block;
    line-height: 1.1;
    margin-bottom: 15px;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 4px;
}

.menu-item:hover {
    background-color: white;
}

.sidebar {
    background-color: #cdf2fe;
    padding: 15px;
}

.sidebar h2 {
    margin-top: 0;
}

/* Footer */
.footer {
    background-color: #737373;
    color: lightskyblue;
    padding: 7px;
}

.footer span {
    margin-right: 5px;
}

.footer div {
    display: inline;
    margin-left: 50px;
}