/* Body */
#body {
  @extend .normal-sans-serif;
  background-color: $color-charcoal;
  color: $color-white;
  line-height: 1.3;
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
}

a:hover, .clickable {
  cursor: pointer;
}

ul {
  padding-left: 1.5rem;
  li {
    margin-bottom: 1rem;
  }
}

.content {
  @include outer-container(900px);
}




.content {
  .title, * .title {
    @extend .cursive-font;
    //@extend h1;
    font-size: 4em;
    text-align: center;
    margin-bottom: 2rem;
  }
  .subtitle, * .subtitle {
    @extend .chalkboard-font;
  //  @extend h3;
    font-size: 2.5em;
    margin-bottom: .5rem;
    text-align: center;
  }

  .section-spacer {
    margin-top: 4rem;
  }

  * .emphasis {
    color: $color-bright-green;

    &.blue {
      color: $color-blue;
    }

    &.pink {
      color: $color-pink;
    }
  }
}


























//Old



.reading .carousel-indicators {
    display: none;
}

.reading .carousel-control.left, .reading .carousel-control.right {
    background-image: none;
    color: #737373;
    bottom: auto;
    top: 70px;
}
