$color-charcoal: #343434;
$color-medium-grey: #888;
$color-light-grey: #bbb;
$color-white: #fff;
$color-green: #6dc598;
$color-light-green: #519271;
$color-blue: #6ACCD2;
$color-pink: #F870C7;



$color-duller-green: #6dc598;
$color-bright-green: #74D26A;
