#nav {
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $color-white;

  .header-text {
    //@extend h1;
    @extend .cursive-font;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: $color-green;
  }

  .contact {
    display: inline-block;
    margin: 1rem 4rem;

    a {
      font-size: 1.7rem;
      color: $color-white;
      transition: color .4s, border-color .4s;
      padding-bottom: .3rem;
      border-bottom: 1px solid $color-charcoal;

      &:hover {
        color: $color-white;
        border-color: $color-green;
        text-decoration: none;
      }
    }
  }
}
