$color-dark-charcoal: #2B2B2B;
$color-charcoal: #343434;
$color-medium-grey: #888888;
$color-light-grey: #BBBBBB;
$color-white: #FFFFFF;

$color-green: #6DC598;
$color-bright-green: #6FDC85;
$color-blue: #6ACCD2;

$transition-speed-color: .4s;
