<div class="sidebar" data-ng-controller="SidebarController">
    <h1 data-ng-click="goHome()" style="font-family: 'Pacifico', cursive; font-size: 3.7em;">Caroline Paulic</h1>
    <a class="menu-item" data-ng-click="goToAllProjectsPage()"><span class="fa fa-asterisk"></span> Projects</a>
    <a class="menu-item" data-ng-click="goToProfessionalPage()"><span class="fa fa-asterisk"></span> Professional</a>
    <div class="contact">
        <h4>Contact Me</h4>
        <div data-ng-include="'modules/contact/EmailContact.html'"></div>
        <div data-ng-include="'modules/contact/LinkedInContact.html'"></div>
        <div data-ng-include="'modules/contact/GitHubContact.html'"></div>
        <div data-ng-include="'modules/resume/ResumeView.html'"></div>
    </div>

    <h4>Currently Reading</h4>
    <a class="book-title" href="http://evilbydesign.info/book/"><img data-ng-src="resources/images/books/EvilByDesign.jpg" height="160px;" width="140px;" style="margin-bottom: 10px;">
    <span style="font-style: italic;">Evil by Design: Interaction Design to Lead Us into Temptation</span> by Chris Nodder</a>
</div>