<div class="sidebar" data-ng-controller="SidebarController">
    <h2 data-ng-click="goHome()">Caroline Paulic</h2>
    <a class="menu-item" data-ng-click="goToAllProjectsPage()">Projects</a>
    <a class="menu-item" data-ng-click="goToProfessionalPage()">Professional</a>
    <div class="contact">
        <h4>Contact Me</h4>
        <div data-ng-include="'modules/contact/EmailContact.html'"></div>
        <div data-ng-include="'modules/contact/LinkedInContact.html'"></div>
        <div data-ng-include="'modules/contact/GitHubContact.html'"></div>
        <div data-ng-include="'modules/resume/ResumeView.html'"></div>
    </div>

    <hr/>

    <h4>Currently Reading</h4>
    <a class="book-title" href="http://www.amazon.com/Usable-Usability-Simple-Making-Better/dp/1118185471"><img data-ng-src="resources/images/books/UsableUsability.jpg" height="160px;" width="140px;" style="margin-bottom: 10px;">
    <span style="font-style: italic;">Usable Usability: Simple Steps for Making Stuff Better</span> by Eric Reiss</a>
</div>