.cursive-font {
  font-family: 'Pacifico',  Helvetica, Arial, sans-serif;
}

.chalkboard-font {
  font-family: 'Handlee',  Helvetica, Arial, sans-serif;
}

.normal-sans-serif {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
