<div class="container-fluid main-page">
    <h1>My Projects</h1>
    <h2>I have a big imagination and I'm always thinking of new things to create.</h2>
    <div class="row">
        <div class="col-xs-7">
            <p>I love working on personal projects, and I usually have a few going on at once. My projects
                range from software development to sewing, with a lot in between. Click on a project to learn more!</p>
            <p class="emphasis"><span class="glyphicon glyphicon-alert" style="margin-right: 5px;"></span> This page is under construction!
                I'm in the process of adding in all of my projects, so check back in a couple of days to
            see what's new! <span style="font-style: italic;">[Last updated 8/9/15]</span></p>
        </div>
        <div class="col-xs-5">
            <div class="panel panel-nav professional">
                <div class="panel-heading">
                    <h4>Next Up...</h4>
                </div>
                <div class="panel-body" style="font-size: 1em;">
                    <ul>
                        <li>Software: Improve personal website; learn how to use D3</li>
                        <li>Crafts: Make a wire jewelry tree; make a cubic wall shelf</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--<h3>Filter by...</h3>
    <button data-ng-repeat="filter in filters" class="btn btn-lg btn-filter" data-ng-click="filterBy()"><span data-ng-class="filter.icon"></span> {{filter.name}}</button>-->
    <div class="row" style="margin-top: 30px;">
        <div data-ng-repeat="project in allProjects" data-ng-show="project.isShowing" data-ng-click="goToProjectPage(project)" class="project-listing col-xs-4">
            <img data-ng-src="{{project.thumbnailPath}}" style="float: left; margin-right: 10px;" height="100px" width="100px">
            <h4 style="font-size: 1.4em;">{{project.name}}</h4>
            <h4 style="color: #666666;">{{project.dateRange}}</h4>
            <a style="color: #36b6dd;"><span class="glyphicon glyphicon-hand-right"></span> Details</a>
        </div>
    </div>
</div>